.container-toastr {
  top: 0;
  right: 0;
  width: 20vw;
  z-index:100000;
  min-height: 100px;
  position: absolute;
  margin-right: 20px;
  margin-top: 50px;
  border-radius: 10px;
  opacity: 0.8;
  color: white;
  overflow: hidden;
  animation-duration: 1s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}

.container-toastr-header {
  // background-color: rgba(0, 128, 0, 0.932);
  padding: 10px;
  font-weight: bolder;
}
.success {
  background-color: green;
}

.error {
  background-color: red;
}

.visible {
  display: block;
}

.novisible {
  display: none;
}

@keyframes slidein {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.9  ;
  }
}

@media only screen and (max-width: 960px) {
  .container-toastr {
    width: 40vw;
    min-height: 70px;
  }
}
