button{
    background-color: rgb(25, 118, 210);
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
    padding: 6px 16px;
    border-radius: 4px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: rgb(255, 255, 255);
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    cursor: pointer;
}

button:hover{
    opacity: 0.8;
}

.green{
    background-color: green;
}

.orange{
    background-color: orange;
}

.red{
    background-color: red;
}